## This is for recognizing candle-stick patterns and how to use them.

In [1]:
import talib
from talib import abstract
import yfinance as yf
import pandas as pd

In [2]:
dat=yf.download("SPY", start="2020-01-01", end="2025-05-01")
# dat.head(10)|
# dat.reset_index()
dat.info()
dat.head()

[*********************100%***********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1339 entries, 2020-01-02 to 2025-04-30
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Close, SPY)   1339 non-null   float64
 1   (High, SPY)    1339 non-null   float64
 2   (Low, SPY)     1339 non-null   float64
 3   (Open, SPY)    1339 non-null   float64
 4   (Volume, SPY)  1339 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 62.8 KB

Price            Close        High         Low        Open    Volume
Ticker             SPY         SPY         SPY         SPY       SPY
Date
2020-01-02  297.699005  297.717350  295.554718  296.480254  59151200
2020-01-03  295.444733  296.571870  294.244299  294.299278  77709700
2020-01-06  296.571869  296.654338  293.566170  293.685302  55653900
2020-01-07  295.737976  296.480228  295.288939  296.003701  40496400
2020-01-08  297.314056  298.532807  295.682931  295.930339  68296000

In [3]:
print(dat['Open'])

Ticker             SPY
Date
2020-01-02  296.480254
2020-01-03  294.299278
2020-01-06  293.685302
2020-01-07  296.003701
2020-01-08  295.930339
...                ...
2025-04-24  532.086198
2025-04-25  541.930505
2025-04-28  546.629554
2025-04-29  544.170915
2025-04-30  542.842585

[1339 rows x 1 columns]

In [4]:
# dat1=tal.CDLMORNINGDOJISTAR(dat['Open'].to_numpy(),dat['High'].to_numpy(),dat['Low'].to_numpy(),dat['Close'].to_numpy(),penetration=0)
# print(dat['Open'])

dat.columns=dat.columns.get_level_values(0)
input={
    "open":dat['Open'],
    "high":dat['High'],
    "low":dat['Low'],
    "close":dat['Close'],
    }
dat1 = abstract.CDLMORNINGSTAR(input)
dat['dat1']=dat1
dat.info()
dat.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1339 entries, 2020-01-02 to 2025-04-30
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Close   1339 non-null   float64
 1   High    1339 non-null   float64
 2   Low     1339 non-null   float64
 3   Open    1339 non-null   float64
 4   Volume  1339 non-null   int64
 5   dat1    1339 non-null   int32
dtypes: float64(4), int32(1), int64(1)
memory usage: 68.0 KB

Price            Close        High         Low        Open    Volume  dat1
Date
2020-01-02  297.699005  297.717350  295.554718  296.480254  59151200     0
2020-01-03  295.444733  296.571870  294.244299  294.299278  77709700     0
2020-01-06  296.571869  296.654338  293.566170  293.685302  55653900     0
2020-01-07  295.737976  296.480228  295.288939  296.003701  40496400     0
2020-01-08  297.314056  298.532807  295.682931  295.930339  68296000     0

In [7]:
print(dat['dat1'])
print(dat[dat1!=0])

Date
2020-01-02    0
2020-01-03    0
2020-01-06    0
2020-01-07    0
2020-01-08    0
             ..
2025-04-24    0
2025-04-25    0
2025-04-28    0
2025-04-29    0
2025-04-30    0
Name: dat1, Length: 1339, dtype: int32
Price            Close        High         Low        Open     Volume  dat1
Date
2020-03-24  224.123962  224.999638  215.505591  216.077072  235494500   100
2021-03-22  367.673737  369.059817  365.220023  365.276213   73778600   100
2023-01-20  380.545776  380.699582  373.336285  374.989663   91806400   100
2023-05-05  398.160767  399.212541  394.310689  394.571211   87891800   100
2023-08-14  434.002747  434.002747  430.390192  430.700125   47867400   100
2024-03-12  504.312836  504.898337  498.535611  501.063154   73114400   100