In [1]:
import pandas as pd
import yfinance as yf

In [2]:
dir(yf)

['AsyncWebSocket',
 'Calendars',
 'EquityQuery',
 'FundQuery',
 'Industry',
 'Lookup',
 'Market',
 'PREDEFINED_SCREENER_QUERIES',
 'Search',
 'Sector',
 'Ticker',
 'Tickers',
 'WebSocket',
 '_NOTSET',
 '__all__',
 '__author__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'cache',
 'calendars',
 'config',
 'const',
 'data',
 'domain',
 'download',
 'enable_debug_mode',
 'exceptions',
 'live',
 'lookup',
 'multi',
 'pricing_pb2',
 'scrapers',
 'screen',
 'screener',
 'search',
 'set_config',
 'set_tz_cache_location',
 'shared',
 'ticker',
 'tickers',
 'utils',
 'version',
 'warnings']

In [4]:
tdg=yf.Ticker('tdg')

In [6]:
data=tdg.history()
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2025-12-08 00:00:00-05:00,1344.540039,1353.109985,1332.780029,1347.170044,186900,0.0,0.0
2025-12-09 00:00:00-05:00,1347.319946,1356.939941,1314.609985,1318.020020,200000,0.0,0.0
2025-12-10 00:00:00-05:00,1320.000000,1322.500000,1276.989990,1302.900024,531400,0.0,0.0
2025-12-11 00:00:00-05:00,1310.699951,1319.150024,1304.000000,1317.489990,293500,0.0,0.0
2025-12-12 00:00:00-05:00,1320.000000,1321.250000,1293.089966,1294.650024,432200,0.0,0.0

In [9]:
data=tdg.history(interval='1m', start='2025-12-29', end="2026-01-01")
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2025-12-29 09:30:00-05:00,1310.000000,1310.000000,1310.00000,1310.000000,13023,0.0,0.0
2025-12-29 09:32:00-05:00,1315.000000,1315.000000,1315.00000,1315.000000,23,0.0,0.0
2025-12-29 09:33:00-05:00,1310.540039,1313.295044,1310.47998,1313.295044,795,0.0,0.0
2025-12-29 09:34:00-05:00,1312.709106,1314.275024,1310.48999,1314.275024,281,0.0,0.0
2025-12-29 09:36:00-05:00,1314.270020,1315.420044,1314.27002,1314.839966,288,0.0,0.0

In [11]:
dat1=yf.download(['GOOG','META'], period='1mo')
dat1.head(10)

[*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker            GOOG        META        GOOG        META        GOOG
Date
2025-12-08  314.450012  666.256592  321.230011  676.158550  311.910004
2025-12-09  317.750000  656.424683  318.709015  663.938513  312.619995
2025-12-10  321.000000  649.600220  321.869995  653.976655  315.399994
2025-12-11  313.700012  652.178101  321.989990  654.746014  309.880005
2025-12-12  310.519989  643.705017  316.140015  710.420628  306.959991
2025-12-15  309.320007  647.510010  312.700012  653.000000  305.739990
2025-12-16  307.730011  657.150024  311.845001  662.539978  303.829987
2025-12-17  298.059998  649.500000  309.195007  661.229980  297.450012
2025-12-18  303.750000  664.450012  305.260010  670.559998  300.630005
2025-12-19  308.609985  658.770020  308.989990  671.000000  302.339996

Price                         Open                Volume
Ticker            META        GOOG        META      GOOG      META
Date
2025-12-08  664.528021  321.029999  668.794561  22006900  13161000
2025-12-09  652.807637  313.100006  663.229131  14151300  12997100
2025-12-10  642.875723  316.619995  649.420374  22764500  16910900
2025-12-11  640.277772  321.100006  642.765733  25912100  13056700
2025-12-12  638.089602  314.795013  649.270486  21264800  14016900
2025-12-15  638.700012  312.625000  645.700012  22028900  15549100
2025-12-16  643.200012  306.000000  643.500000  21285200  14309100
2025-12-17  649.200012  309.010010  655.609985  29120400  15598500
2025-12-18  656.460022  303.059998  657.030029  21040500  20260300
2025-12-19  658.179993  303.269989  666.419983  45234400  49977100

In [16]:
dat2=yf.Ticker('AAPL')
info=dat2.info
info.keys()

dict_keys(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website', 'industry', 'industryKey', 'industryDisp', 'sector', 'sectorKey', 'sectorDisp', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'auditRisk', 'boardRisk', 'compensationRisk', 'shareHolderRightsRisk', 'overallRisk', 'governanceEpochDate', 'compensationAsOfEpochDate', 'irWebsite', 'executiveTeam', 'maxAge', 'priceHint', 'previousClose', 'open', 'dayLow', 'dayHigh', 'regularMarketPreviousClose', 'regularMarketOpen', 'regularMarketDayLow', 'regularMarketDayHigh', 'dividendRate', 'dividendYield', 'exDividendDate', 'payoutRatio', 'fiveYearAvgDividendYield', 'beta', 'trailingPE', 'forwardPE', 'volume', 'regularMarketVolume', 'averageVolume', 'averageVolume10days', 'averageDailyVolume10Day', 'bid', 'ask', 'bidSize', 'askSize', 'marketCap', 'fiftyTwoWeekLow', 'fiftyTwoWeekHigh', 'allTimeHigh', 'allTimeLow', 'priceToSalesTrailing12Months', 'fiftyDayAverage', 'twoHundredDayAverage', 'trailingAnnualDividendRate', 'trailingAnnualDividendYield', 'currency', 'tradeable', 'enterpriseValue', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'impliedSharesOutstanding', 'bookValue', 'priceToBook', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate', 'quoteType', 'currentPrice', 'targetHighPrice', 'targetLowPrice', 'targetMeanPrice', 'targetMedianPrice', 'recommendationMean', 'recommendationKey', 'numberOfAnalystOpinions', 'totalCash', 'totalCashPerShare', 'ebitda', 'totalDebt', 'quickRatio', 'currentRatio', 'totalRevenue', 'debtToEquity', 'revenuePerShare', 'returnOnAssets', 'returnOnEquity', 'grossProfits', 'freeCashflow', 'operatingCashflow', 'earningsGrowth', 'revenueGrowth', 'grossMargins', 'ebitdaMargins', 'operatingMargins', 'financialCurrency', 'symbol', 'language', 'region', 'typeDisp', 'quoteSourceName', 'triggerable', 'customPriceAlertConfidence', 'hasPrePostMarketData', 'firstTradeDateMilliseconds', 'postMarketChangePercent', 'postMarketPrice', 'postMarketChange', 'regularMarketChange', 'regularMarketDayRange', 'fullExchangeName', 'averageDailyVolume3Month', 'fiftyTwoWeekLowChange', 'fiftyTwoWeekLowChangePercent', 'fiftyTwoWeekRange', 'fiftyTwoWeekHighChange', 'fiftyTwoWeekHighChangePercent', 'fiftyTwoWeekChangePercent', 'dividendDate', 'earningsTimestamp', 'earningsTimestampStart', 'earningsTimestampEnd', 'earningsCallTimestampStart', 'earningsCallTimestampEnd', 'isEarningsDateEstimate', 'epsTrailingTwelveMonths', 'epsForward', 'epsCurrentYear', 'priceEpsCurrentYear', 'fiftyDayAverageChange', 'fiftyDayAverageChangePercent', 'twoHundredDayAverageChange', 'corporateActions', 'postMarketTime', 'regularMarketTime', 'exchange', 'messageBoardId', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'gmtOffSetMilliseconds', 'market', 'esgPopulated', 'marketState', 'twoHundredDayAverageChangePercent', 'sourceInterval', 'exchangeDataDelayedBy', 'averageAnalystRating', 'cryptoTradeable', 'regularMarketChangePercent', 'regularMarketPrice', 'shortName', 'longName', 'displayName', 'trailingPegRatio'])

In [17]:
info['city']

'Cupertino'

In [21]:
dat2.income_stmt

,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30
Tax Effect Of Unusual Items,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN
Tax Rate For Calcs,1.560000e-01,2.410000e-01,1.470000e-01,1.620000e-01,NaN
Normalized EBITDA,1.447480e+11,1.346610e+11,1.258200e+11,1.305410e+11,NaN
Net Income From Continuing Operation Net Minority Interest,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Reconciled Depreciation,1.169800e+10,1.144500e+10,1.151900e+10,1.110400e+10,NaN
Reconciled Cost Of Revenue,2.209600e+11,2.103520e+11,2.141370e+11,2.235460e+11,NaN
EBITDA,1.447480e+11,1.346610e+11,1.258200e+11,1.305410e+11,NaN
EBIT,1.330500e+11,1.232160e+11,1.143010e+11,1.194370e+11,NaN
Net Interest Income,NaN,NaN,-1.830000e+08,-1.060000e+08,1.980000e+08
Interest Expense,NaN,NaN,3.933000e+09,2.931000e+09,2.645000e+09
Interest Income,NaN,NaN,3.750000e+09,2.825000e+09,2.843000e+09
Normalized Income,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Net Income From Continuing And Discontinued Operation,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Total Expenses,2.831110e+11,2.678190e+11,2.689840e+11,2.748910e+11,NaN
Total Operating Income As Reported,1.330500e+11,1.232160e+11,1.143010e+11,1.194370e+11,NaN
Diluted Average Shares,1.500470e+10,1.540810e+10,1.581255e+10,1.632582e+10,NaN
Basic Average Shares,1.494850e+10,1.534378e+10,1.574423e+10,1.621596e+10,NaN
Diluted EPS,7.460000e+00,6.080000e+00,6.130000e+00,6.110000e+00,NaN
Basic EPS,7.490000e+00,6.110000e+00,6.160000e+00,6.150000e+00,NaN
Diluted NI Availto Com Stockholders,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Net Income Common Stockholders,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Net Income,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Net Income Including Noncontrolling Interests,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Net Income Continuous Operations,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN
Tax Provision,2.071900e+10,2.974900e+10,1.674100e+10,1.930000e+10,NaN
Pretax Income,1.327290e+11,1.234850e+11,1.137360e+11,1.191030e+11,NaN
Other Income Expense,-3.210000e+08,2.690000e+08,-5.650000e+08,-3.340000e+08,NaN
Other Non Operating Income Expenses,-3.210000e+08,2.690000e+08,-5.650000e+08,-3.340000e+08,NaN
Net Non Operating Interest Income Expense,NaN,NaN,-1.830000e+08,-1.060000e+08,1.980000e+08
Interest Expense Non Operating,NaN,NaN,3.933000e+09,2.931000e+09,2.645000e+09
Interest Income Non Operating,NaN,NaN,3.750000e+09,2.825000e+09,2.843000e+09
Operating Income,1.330500e+11,1.232160e+11,1.143010e+11,1.194370e+11,NaN
Operating Expense,6.215100e+10,5.746700e+10,5.484700e+10,5.134500e+10,NaN
Research And Development,3.455000e+10,3.137000e+10,2.991500e+10,2.625100e+10,NaN
Selling General And Administration,2.760100e+10,2.609700e+10,2.493200e+10,2.509400e+10,NaN
Gross Profit,1.952010e+11,1.806830e+11,1.691480e+11,1.707820e+11,NaN
Cost Of Revenue,2.209600e+11,2.103520e+11,2.141370e+11,2.235460e+11,NaN
Total Revenue,4.161610e+11,3.910350e+11,3.832850e+11,3.943280e+11,NaN
Operating Revenue,4.161610e+11,3.910350e+11,3.832850e+11,3.943280e+11,NaN

In [23]:
dat2.balance_sheet

,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30
Treasury Shares Number,NaN,NaN,0.000000e+00,NaN,NaN
Ordinary Shares Number,1.477326e+10,1.511679e+10,1.555006e+10,1.594342e+10,NaN
Share Issued,1.477326e+10,1.511679e+10,1.555006e+10,1.594342e+10,NaN
Net Debt,6.272300e+10,7.668600e+10,8.112300e+10,9.642300e+10,NaN
Total Debt,9.865700e+10,1.066290e+11,1.110880e+11,1.324800e+11,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,5.469700e+10,6.517100e+10,6.155500e+10,4.830400e+10,NaN
Other Short Term Investments,1.876300e+10,3.522800e+10,3.159000e+10,2.465800e+10,NaN
Cash And Cash Equivalents,3.593400e+10,2.994300e+10,2.996500e+10,2.364600e+10,NaN
Cash Equivalents,7.667000e+09,2.744000e+09,1.606000e+09,5.100000e+09,NaN
Cash Financial,2.826700e+10,2.719900e+10,2.835900e+10,1.854600e+10,NaN

In [24]:
dat2.cash_flow

,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30
Free Cash Flow,9.876700e+10,1.088070e+11,9.958400e+10,1.114430e+11,NaN
Repurchase Of Capital Stock,-9.071100e+10,-9.494900e+10,-7.755000e+10,-8.940200e+10,NaN
Repayment Of Debt,-1.093200e+10,-9.958000e+09,-1.115100e+10,-9.543000e+09,NaN
Issuance Of Debt,4.481000e+09,0.000000e+00,5.228000e+09,5.465000e+09,NaN
Issuance Of Capital Stock,NaN,NaN,NaN,NaN,1.105000e+09
Capital Expenditure,-1.271500e+10,-9.447000e+09,-1.095900e+10,-1.070800e+10,NaN
Interest Paid Supplemental Data,NaN,NaN,3.803000e+09,2.865000e+09,2.687000e+09
Income Tax Paid Supplemental Data,4.336900e+10,2.610200e+10,1.867900e+10,1.957300e+10,NaN
End Cash Position,3.593400e+10,2.994300e+10,3.073700e+10,2.497700e+10,NaN
Beginning Cash Position,2.994300e+10,3.073700e+10,2.497700e+10,3.592900e+10,NaN
Changes In Cash,5.991000e+09,-7.940000e+08,5.760000e+09,-1.095200e+10,NaN
Financing Cash Flow,-1.206860e+11,-1.219830e+11,-1.084880e+11,-1.107490e+11,NaN
Cash Flow From Continuing Financing Activities,-1.206860e+11,-1.219830e+11,-1.084880e+11,-1.107490e+11,NaN
Net Other Financing Charges,-6.071000e+09,-5.802000e+09,-6.012000e+09,-6.383000e+09,NaN
Cash Dividends Paid,-1.542100e+10,-1.523400e+10,-1.502500e+10,-1.484100e+10,NaN
Common Stock Dividend Paid,-1.542100e+10,-1.523400e+10,-1.502500e+10,-1.484100e+10,NaN
Net Common Stock Issuance,-9.071100e+10,-9.494900e+10,-7.755000e+10,-8.940200e+10,NaN
Common Stock Payments,-9.071100e+10,-9.494900e+10,-7.755000e+10,-8.940200e+10,NaN
Common Stock Issuance,NaN,NaN,NaN,NaN,1.105000e+09
Net Issuance Payments Of Debt,-8.483000e+09,-5.998000e+09,-9.901000e+09,-1.230000e+08,NaN
Net Short Term Debt Issuance,-2.032000e+09,3.960000e+09,-3.978000e+09,3.955000e+09,NaN
Net Long Term Debt Issuance,-6.451000e+09,-9.958000e+09,-5.923000e+09,-4.078000e+09,NaN
Long Term Debt Payments,-1.093200e+10,-9.958000e+09,-1.115100e+10,-9.543000e+09,NaN
Long Term Debt Issuance,4.481000e+09,0.000000e+00,5.228000e+09,5.465000e+09,NaN
Investing Cash Flow,1.519500e+10,2.935000e+09,3.705000e+09,-2.235400e+10,NaN
Cash Flow From Continuing Investing Activities,1.519500e+10,2.935000e+09,3.705000e+09,-2.235400e+10,NaN
Net Other Investing Changes,-1.480000e+09,-1.308000e+09,-1.337000e+09,-2.086000e+09,NaN
Net Investment Purchase And Sale,2.939000e+10,1.369000e+10,1.600100e+10,-9.560000e+09,NaN
Sale Of Investment,5.379700e+10,6.234600e+10,4.551400e+10,6.736300e+10,NaN
Purchase Of Investment,-2.440700e+10,-4.865600e+10,-2.951300e+10,-7.692300e+10,NaN
Net Business Purchase And Sale,NaN,NaN,NaN,-3.060000e+08,-3.300000e+07
Purchase Of Business,NaN,NaN,NaN,-3.060000e+08,-3.300000e+07
Net PPE Purchase And Sale,-1.271500e+10,-9.447000e+09,-1.095900e+10,-1.070800e+10,NaN
Purchase Of PPE,-1.271500e+10,-9.447000e+09,-1.095900e+10,-1.070800e+10,NaN
Operating Cash Flow,1.114820e+11,1.182540e+11,1.105430e+11,1.221510e+11,NaN
Cash Flow From Continuing Operating Activities,1.114820e+11,1.182540e+11,1.105430e+11,1.221510e+11,NaN
Change In Working Capital,-2.500000e+10,3.651000e+09,-6.577000e+09,1.200000e+09,NaN
Change In Other Working Capital,NaN,NaN,NaN,4.780000e+08,1.676000e+09
Change In Other Current Liabilities,-1.107600e+10,1.555200e+10,3.031000e+09,6.110000e+09,NaN
Change In Other Current Assets,-9.197000e+09,-1.173100e+10,-5.684000e+09,-6.499000e+09,NaN
Change In Payables And Accrued Expense,9.020000e+08,6.020000e+09,-1.889000e+09,9.448000e+09,NaN
Change In Payable,9.020000e+08,6.020000e+09,-1.889000e+09,9.448000e+09,NaN
Change In Account Payable,9.020000e+08,6.020000e+09,-1.889000e+09,9.448000e+09,NaN
Change In Inventory,1.400000e+09,-1.046000e+09,-1.618000e+09,1.484000e+09,NaN
Change In Receivables,-7.029000e+09,-5.144000e+09,-4.170000e+08,-9.343000e+09,NaN
Changes In Account Receivables,-6.682000e+09,-3.788000e+09,-1.688000e+09,-1.823000e+09,NaN
Other Non Cash Items,-8.900000e+07,-2.266000e+09,-2.227000e+09,1.006000e+09,NaN
Stock Based Compensation,1.286300e+10,1.168800e+10,1.083300e+10,9.038000e+09,NaN
Deferred Tax,NaN,NaN,NaN,8.950000e+08,-4.774000e+09
Deferred Income Tax,NaN,NaN,NaN,8.950000e+08,-4.774000e+09
Depreciation Amortization Depletion,1.169800e+10,1.144500e+10,1.151900e+10,1.110400e+10,NaN
Depreciation And Amortization,1.169800e+10,1.144500e+10,1.151900e+10,1.110400e+10,NaN
Net Income From Continuing Operations,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN

In [40]:
fn=dat2.income_stmt
bal=dat2.balance_sheet
cf=dat2.cash_flow

fs1= pd.concat([fn,bal,cf],axis=1)



fs1.head(10)

,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2025-09-30,2024-09-30,2023-09-30,2022-09-30,2021-09-30
Tax Effect Of Unusual Items,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tax Rate For Calcs,1.560000e-01,2.410000e-01,1.470000e-01,1.620000e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Normalized EBITDA,1.447480e+11,1.346610e+11,1.258200e+11,1.305410e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,1.120100e+11,9.373600e+10,9.699500e+10,9.980300e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Reconciled Depreciation,1.169800e+10,1.144500e+10,1.151900e+10,1.110400e+10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Reconciled Cost Of Revenue,2.209600e+11,2.103520e+11,2.141370e+11,2.235460e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBITDA,1.447480e+11,1.346610e+11,1.258200e+11,1.305410e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EBIT,1.330500e+11,1.232160e+11,1.143010e+11,1.194370e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Net Interest Income,NaN,NaN,-1.830000e+08,-1.060000e+08,1.980000e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Interest Expense,NaN,NaN,3.933000e+09,2.931000e+09,2.645000e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN